@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

:root{
    --letraDeMao: "Imperial Script", cursive;
}
  
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: auto;
 }
    

img{
    width: 100%;
}


body{
    border: 1px dashed rgb(170, 255, 0);
    background-color:white;
}

main{
    border: 1px dashed rgb(147, 14, 142);
    max-width: 800px;
    min-width: 320px;
    margin: auto;
}

h1{
    font-size: 50px;
    font-family: var(--letraDeMao);
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #3076b2ff;
}

#e{
    font-size: 30px;
    font-family: var(--letraDeMao);
    margin: 5px;
    text-align: center;
    color: #3076b2ff;
}

p{
    font-size: 150%;
    color: #3076b2ff;
}

div{ 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

p#month{
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}

p#dweeek{
    margin: 5px;
    text-decoration-line: overline underline;
    word-spacing: 5px;
}

p#day{
    font-size: 250%;
    color: #f79355;
    margin: 5px;
}

p#time{
    margin: 10px;
    text-decoration-line: overline underline;
}

p#year{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
 
i {
    color: white;
    vertical-align: middle;
    background-color: #f79355;
    border-radius: 100px;
    margin: 15px;
    flex-direction: column;
    align-items: center;
    
  }

.material-symbols-outlined{
    font-size: 25px;
    padding: 10px;
}  

a { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    color: #3076b2ff;
    text-align: center;
    text-decoration: none;
    font-size: 90%;
    margin: 5px;
    margin-bottom: 0px;
}

img.gift {
    width: 100%;
    height: auto;
    
}

article{
    margin: 5px;
    border: 1px solid #ccc;
    float:left;
    width: 180px;
    background-color: #dcedfa;
    align-items: center;
}


a#voltar{
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
}

a#voltar>i{
    margin-bottom: 0;
}
