@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

:root{
    --letraDeMao: "Imperial Script", cursive;
    --letraDeForma: "David", mao;
}
  
*{
    font-family: var(--letraDeForma);
    font-size: auto;
    box-sizing: border-box;
 }

img{
    width: 100%;
}

body{
    border: 1px dashed rgb(170, 255, 0);
    background-color:white;
    font-family: var(--letraDeMao);
}

main{
    border: 1px dashed rgb(147, 14, 142);
    max-width: 800px;
    min-width: 320px;
    margin: 0 auto;
    display:block;
}

h1{
    font-size: 50px;
    font-family: var(--letraDeMao);
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #3076b2ff;
}

#e{
    font-size: 30px;
    font-family: var(--letraDeMao);
    margin: 5px;
    text-align: center;
    color: #3076b2ff;
}

p{
    font-size: 150%;
    color: #3076b2ff;
}

div{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

p#month{
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}

p#dweeek{
    margin: 5px;
    text-decoration-line: overline underline;
    word-spacing: 5px;
}

p#day{
    font-size: 250%;
    color: #f79355;
    margin: 5px;
}

p#time{
    margin: 10px;
    text-decoration-line: overline underline;
}

p#year{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
 
i {
    color: white;
    vertical-align: middle;
    background-color: #f79355;
    border-radius: 100px;
    margin: 15px;
    flex-direction: column;
    align-items: center;  
  }

.material-symbols-outlined{
    font-size: 25px;
    padding: 10px;
}  

a { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    color: #3076b2ff;
    text-align: center;
    text-decoration: none;
    font-size: 90%;
    inline-size:auto
}

h1#darPresente{
    font-family: var(--letraDeForma);
    font-size: 130%;
    text-align: center;
    color: #3076b2ff;
}

h2#darPresente2{
    font-family: var(--letraDeForma);
    font-size: 100%;
    text-align: center;
    color: #3076b2ff;
}

div.gallery {
    border: 1px solid #dcedfa;
    background-color: #dcedfa;
    display: block;
    margin-top: 5px;
    padding:0%;
  }
  
div.gallery img {
    display: block;
    width: 100%;
    height: auto;
  }
  
div.desc {
    display: block;
    text-align: center;
    font-size: 80%;
    color: #3076b2ff;
  }

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
} 

a#voltar{
    position: absolute;
    right: 0%;
    top: 5%;
}

i#inicio{
    margin-bottom: 0;
}

button{
    background-color: #f79355;
    border: #f79355;
    color: white; 
    width: 140px;
    border-radius: 5px;
    justify-content: center;
    height: 30px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
  }
  
  button:hover {
    background-color: #f79355ac;
  }

  ul{
    color: #3076b2ff;
    text-align: justify;
  }

  p#endereço{
    text-align: center;
    font-size: 100%;
    margin: 0%;
    margin-top: 15px;
  }

  a#mapa{
    text-decoration:underline;
    margin: 0px;
    font-weight: bold;
  }

  p#titulo{
    text-align: center;
    font-size: 100%;
  }

  footer{
    border: 1px dashed rgb(241, 226, 9);
    display: block;
    position: relative;
    width: 100%;
    clear: both;
  }

  @media only screen and (max-width: 667px) {
    .responsive {
      width: 50%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }